<main class="container container-forms">
  <h1>
    <%= pageName %>
  </h1>

  <form method="POST" class="default-form">
    <legend>¿Eliminar Grupo? Un grupo eliminado no se puede recuperar</legend>
    
    <div class="field send">
      <input type="submit" value="Eliminar Grupo" class="btn btn-pink">
    </div>
  </form>
</main>
