<main class="container container-forms no-padding">
  <h1><%- pageName %></h1>

  <form class="default-form" action="/reset-password" method="POST">
    <div class="field">
      <label>Password Anterior</label>
      <input type="password" name="last_password" placeholder="Password Actual">
    </div>

    <div class="field">
      <label>Nuevo Password</label>
      <input type="password" name="new_password" placeholder="Nuevo Password">
    </div>

    <div class="field send">
      <input type="submit" class="btn btn-pink" value="Cambiar Password">
    </div>
  </form>
</main>
