html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #484349;
}

h1,
h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: 2;
}

/*** COMPONENTES **/
.alerts {
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  transition: display ease-in-out 0.25s;
}

.alert {
  text-align: center;
  font-size: 16px;
  display: block;
  color: white;
  font-weight: 700;
  padding: .5rem 4rem;
}

.error {
  background-color: #f44336;
}

.success {
  background-color: rgb(94, 156, 0);
}

/** botones **/
.btn {
  padding: 1rem 4rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  display: block;
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .btn {
    width: auto;
    display: inline-block;
    flex: 0 0 auto;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn-yellow {
  background-color: #FF8000;
}

.btn-pink {
  background-color: #B8336A;
}

.btn-blue {
  background-color: #068D9D;
}

.btn-orange {
  background-color: #E4572E;
}

.btn-green {
  background-color: #688E26;
}

.btn-blue2 {
  background-color: #0F4C5C;
}

.btn-red {
  background-color: #92140C;
}

/** Grid **/
.grid {
  display: grid;
  grid-column-gap: 2rem;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width:768px) {
  .cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Card Component **/
.card {
  border: 1px solid #E8E8E8;
  margin-bottom: 2rem;

}

.card .card-text {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.card h3,
.information-admin h3 {
  font-size: 1.8rem;
  margin: .6rem 0;
  padding: .5rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #484349;
}

.card .date,
.information-admin .date {
  font-size: .8rem;
}

.card p {
  margin: 0;
}

.info-author {
  display: flex;
  justify-content: space-between;
}

.info-author .information {
  flex: 1;
  margin-left: 2rem;
}

.info-author .image,
.assistances-list .image {
  border-radius: 50%;
  background-color: #e1e1e1;
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.info-author .image img,
.assistances-list .image img {
  max-width: unset;
  width: 80px !important;
}

.info-author .author {
  font-weight: 700;
  margin-top: .5rem;
}

.info-author .author p {
  color: #333;
}

.info-author .author a {
  color: #0F4C5C;
}

.info-author p {
  margin: 0;
}


/** layout**/
.site-header {
  text-align: center;
  margin-top: 1rem;
}

@media (min-width:768px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav.nav a {
  padding: 1rem;
  display: inline-block;
}

nav.nav a:first-child {
  color: #B8336A;
  font-weight: 700;
  border-right: 1px solid #E6E6E6;
}

/** hero **/
.hero {
  height: 38rem;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero h1 {
  max-width: 800px;
  color: white;
}

/** Buscador Inicio **/
.home-searcher {
  padding: 3rem 0;
  background-color: #F2F2F2;
}

.home-searcher h2 {
  padding: 1rem 0 2rem 0;
  margin: 0;
}

.home-searcher form {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form select,
form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 0;
  color: #888888;
  border: 1px solid #A8A6A8;
  padding: 1.1rem;
  margin-bottom: 2rem;
}

@media (min-width:768px) {
  .home-searcher form {
    flex-direction: row;
    align-items: flex-start;
  }

  .home-searcher form select,
  .home-searcher form input[type="text"] {
    margin-right: 1rem;
  }

  .home-searcher input {
    flex: 1;
  }
}

/** Categorias **/
main.categories {
  background-color: #F2F2F2;
  padding: 2rem 0;
  margin-top: 3rem;
}


.categories-list p {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  display: block;
}

@media (min-width:768px) {
  .categories-list li p {
    font-size: 1.4rem;
  }
}

.categories-list li {
  margin-bottom: 1rem;
}

.categories-list li img {
  transition: transform .3s ease;
}

.categories-list li:hover img {
  transform: scale(0.95);

}

/** Caracteristicas **/
.meeti-bg {
  background: linear-gradient(to bottom,
      #B8336A 0%,
      #B8336A 50%,
      #068D9D 50%,
      #068D9D 100%);

  padding: 5rem 0;
}

@media (min-width:768px) {
  .meeti-bg {
    background: linear-gradient(to right,
        #B8336A 0%,
        #B8336A 50%,
        #068D9D 50%,
        #068D9D 100%);
  }
}

.meeti {
  color: white;
  width: 90%;
}

.meeti h3 {
  font-size: 2.4rem;
}

.meeti p {
  font-size: 1.4rem;
}

/** Footer **/
.site-footer {
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.site-footer p {
  margin: 0;
}

@media (min-width:768px) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/** Crear Cuenta **/
main.container-forms {
  max-width: 900px;
  width: 95%;
  padding: 5rem 0;
}

.no-padding {
  padding: 0 !important;
}

.default-form .field {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.field.actions {
  justify-content: space-between;
  padding: 1rem 0;
}

.field.send {
  justify-content: flex-end;
  padding-top: 2rem;
}

.field.eliminar {
  justify-content: center;
  padding-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-container small {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  color: #0F4C5C;
  font-size: 1rem;
}

/* .field input:read-only,
.field input:disabled {
  background-color: #f7f6f6;
}

.field input:read-only:hover,
.field input:disabled:hover {
  cursor: no-drop;
} */

.field.map {
  display: block;
}

form .information {
  font-weight: bold;
  color: #333;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

form .information:last-of-type {
  margin-bottom: 1rem;
}

.default-form .field label {
  flex: 0 0 120px;
}

.default-form .field input[type="text"],
.default-form .field input[type="password"],
.default-form .field input[type="email"],
.default-form .field input[type="url"],
.default-form .field input[type="date"],
.default-form .field input[type="time"],
.default-form .field input[type="number"],
.default-form .field textarea,
.default-form .field select {
  margin: 0;
  flex: 1;
  color: black;
}

.default-form legend {
  color: #068D9D;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2.5rem 0;
  display: block;
  text-align: center;
}

.default-form.comments .field {
  align-items: flex-start;
}

.default-form .field textarea {
  height: 10rem;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

trix-editor {
  display: block;
}

trix-editor h1 {
  text-align: left !important;
}

.field.description label {
  display: block;
  margin-bottom: 2rem;
  align-self: flex-start;
  padding-top: 4rem;
}

trix-toolbar,
trix-editor {
  background-color: white !important;
}

trix-toolbar {
  padding: 1rem;
}

trix-editor {
  font-size: 1.2rem;
  min-height: 20rem !important;
  padding: 2rem;
}

trix-editor h1,
trix-editor blockquote {
  color: black;
}

trix-toolbar .trix-button-group {
  margin-bottom: 0;
}

trix-toolbar .trix-button--icon-strike {
  display: none;
}

/** Administración **/
.admin-dashboard {
  padding: 4rem 0;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-buttons a {
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  .container-buttons {
    display: flex;
    flex-direction: row;
  }

  .container-buttons a {
    flex: 1;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .container-buttons a:last-of-type {
    margin-right: 0;
  }
}

/** Listado de Eventos admin**/
.section-admin {
  padding-top: 2rem;
}

.section-admin li {
  padding: 1rem 0;
  border-bottom: 1px solid #E6E6E6;
}

.section-admin li:last-of-type {
  border-bottom: none;
}

@media (min-width:768px) {
  .section-admin li {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.section-admin .date,
.section-admin h3 {
  margin: 0;
}

.information-admin {
  flex: 0 0 35%;
  margin-right: 2rem;
}

.information-admin small {
  font-weight: 700;
  font-size: .8rem;
}

.actions.container-buttons a {
  flex: 1;
}

.actions.container-buttons {
  width: 100%;
}

/** Single Eventos **/

.header-event {
  border-top: 4px solid #EAEAEA;
  padding: 5rem 0;
}

@media (min-width:768px) {
  .header-event .container {
    display: flex;
    justify-content: space-between;
  }
}

.event-resume h1 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 2rem;
}

.description img {
  width: 100%;
  margin-bottom: 3rem;
}

.description div {
  line-height: 2;
}

/** Asistencia **/
.assistance-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .assistance-question {
    flex-basis: 400px;
  }
}

.assistance-question p {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.assistance-question form,
.assistance-question input[type="submit"] {
  width: 100%;
}

#message {
  margin-top: 2rem;
  text-align: center;

}

.event-content {
  background-color: #F2F2F2;
  padding: 5rem 0;
}

@media (min-width:768px) {
  .event-content .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .event-content .information-evento {
    flex: 0 0 60%;
  }

  .event-content .information {
    flex: 0 0 calc(40% - 2rem);
  }
}

/** Asistentes **/
.assistances .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assistances .title a {
  color: #068D9D;
  font-weight: 700;
  font-size: 1.4rem;
}

.assistances-list {
  display: flex;
  justify-content: space-between;

}

.assistances-list li {
  flex: 0 0 calc(33.3% - 1rem);
  height: 200px;
  background-color: white;
  border: 1px solid #C7C7C7;
}

.comment {
  display: flex;
  margin-bottom: 2rem;
}

.comment .image {
  flex: 0 0 80px;
  height: 80px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 2rem;
  overflow: hidden;
}

.comment .text {
  padding: 2rem;
  flex: 1;
  border: 1px solid #C7C7C7;
  background-color: white;
}

.comment .text p {
  margin: 0;
}

.comment span {
  color: #0F4C5C;
  font-weight: bold;
}

.comment #eliminar,
.delete-comment {
  margin-top: 2rem;
}



/** Sidebar **/
.event-content aside {
  background-color: white;
  border: 1px solid #C7C7C7;
}

.event-content aside>div {
  padding: 1rem 0 1rem 5rem;
  background-size: 50px;
  background-position: center left;
  background-repeat: no-repeat;
  margin: 2rem;
}

#location-meeti {
  padding: 0 !important;
  margin: 0 !important;
  height: 400px;
}

.event-content aside p {
  margin: 0;
}

aside .date {
  background-image: url(../img/icono-hora.svg);
  margin-bottom: 2rem;
}

aside .location {
  background-image: url(../img/icono-ubicacion.svg);
}

aside img {
  display: block;
}

#map {
  height: 600px;
  width: 100%;
}


/** Asistentes **/
div.assistances h1,
.assistances .no-assistances {
  text-align: center;
}

.assistances-list {
  padding-bottom: 4rem;
}

.assistances-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border: 3px solid #EAEAEA;
  border-bottom: none;
}

.assistances-list li:last-of-type {
  border-bottom: 3px solid #EAEAEA;
}

@media (min-width: 768px) {
  .assistances-list {
    max-width: 600px;
    margin: 0 auto;
  }
}

.assistances-list .image {
  margin-right: 3rem;
}

.assistances-list .text {
  flex: 1;
  font-size: 2rem;
}

.user-information,
.group-info {
  margin-top: 2rem;
}

.group-info a.url {
  margin-top: 1rem;
  display: block;
}

@media (min-width: 660px) {

  .user-information,
  .group-info {
    display: flex;
    justify-content: space-between;
  }

  .user-information .image,
  .group-info .image {
    flex: 0 0 40%;
  }

  .user-information .text,
  .group-info .text {
    flex: 0 0 calc(60% - 3rem)
  }
}

.user-information div,
.group-info div {
  font-size: 1.2rem;
  text-align: left;
  line-height: 2;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.groups-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.groups-list li {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .groups-list li {
    flex: 0 0 calc(33.3% - 2rem);

  }
}

@media (min-width: 768px) {
  .nearby {
    display: flex;
    justify-content: space-between;
  }

  .nearby .card {
    flex: 0 0 calc(33.3% - 2rem);
  }

  .nearby .information {
    flex: 1;
  }
}